.login-div{
    
    height: 30rem;
    
}
.sin{
    display: flex;
    justify-content: center;
    font-size: larger;
}
.hrr{
    width: 16rem;
    
}
.inp{
    width: 16rem;
    height: 2rem;
}
.inp1{
    width: 14rem;
    height: 2.4rem;
    color: white;
    background-color: black;
}

.inp11{
    width: 14rem;
    height: 2.4rem;
    color: white;
    background-color: rgba(0, 128, 0, 0.79);
}